---
import { buildSlug } from "@utils/utils"

import PageLayout from "@layouts/PageLayout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"
import IconList from "@components/ui/IconList.astro"
import WorkingRules from "@components/parts/WorkingRules.astro"

const meta: Meta = {
  title: "Oferta - Cyfryzacja i automatyzacja",
  description:
    "Pomagam niemal we wszystkim jeśli chodzi o rozwiązania cyfrowe. Projektuję, buduję, konfiguruję i wdrażam. Diagnozuję i rozwiązuje problemy.",
  openGraph: {
    basic: {
      title: "Oferta - Łukasz Miłoś",
      type: "website",
    },
    optional: {
      description:
        "Zapoznaj się z ofertą Łukasza Miłoś dotyczącą usług związanych z tworzeniem, oceną, poprawą i rozwojem stron internetowych oraz wdrazaniem narzędzi cyfrowych.",
    },
  },
  twitter: {
    title: "Oferta - Łukasz Miłoś",
    description:
      "Zapoznaj się z ofertą Łukasza Miłoś dotyczącą usług związanych z tworzeniem, oceną, poprawą i rozwojem stron internetowych oraz wdrazaniem narzędzi cyfrowych.",
  },
}

const schema: Schema = {
  "@context": "http://schema.org",
  "@type": "Website",
  url: "https://lukaszmilos.pl/oferta/",
  name: "Oferta - Łukasz Miłoś",
  description:
    "Zapoznaj się z ofertą Łukasza Miłoś dotyczącą usług związanych z tworzeniem, oceną, poprawą i rozwojem stron internetowych oraz wdrazaniem narzędzi cyfrowych.",
}
---

<PageLayout
  pageTitle="Oferta"
  pageDescription="Zobacz, w czym szczególnie mogę Ci pomóc"
  meta={meta}
  schema={schema}>
  {
    [
      {
        style: "",
        title: "Tworzenie strony internetowej",
        description:
          "Zleć budowę nowej strony internetowej dla Twojej firmy, by otworzyć się na nowych klientów i lepiej obsługiwać aktualnych.",
        features: [
          "Jakiej strony internetowej potrzebujesz?",
          "Jaki ma spełniać cel?",
          "Jak ma wyglądać i działać?",
        ],
        action: {
          link: "/oferta/tworzenie-strony-www",
          text: "Sprawdź ofertę tworzenia strony",
        },
        image: {
          src: "tworzenie-strony-www.webp",
          alt: "Projekt kreślarski krzesła umieszczony na stronie internetowej.",
        },
      },
      {
        style: "bg-gray-light",
        title: "Ocena strony internetowej",
        description:
          "Zleć ocenę strony internetowej, by poznać jej braki i niedoskonałości, przez które wiele tracisz. Dowiedz się, jak Twoją witrynę ocenia specjalista.",
        features: [
          "Jakiej błędy można zauważyć?",
          "Jaki jest ich skutek?",
          "Jak je naprawić?",
        ],
        action: {
          link: "/oferta/ocena-strony-www",
          text: "Sprawdź ofertę oceny strony",
        },
        image: {
          src: "ocena-strony-www.webp",
          alt: "Osoba przeglądająca notatki dot. strony internetowej przypięte na tablicy.",
        },
      },
      {
        style: "",
        title: "Poprawa strony internetowej",
        description:
          "Zleć poprawę swojej strony internetowej na podstawie wcześniejszego audytu lub konkretnego aspektu, który chcesz poprawić.",
        features: [
          "Gdzie zauważasz problem?",
          "Co chcesz poprawić?",
          "W czym potrzebujesz pomocy?",
        ],
        action: {
          link: "/oferta/poprawa-strony-www",
          text: "Sprawdź ofertę poprawy strony",
        },
        image: {
          src: "poprawa-strony-www.webp",
          alt: "Tablet wyświetlający grafikę strony internetowej, a wokół widoczne są różne elementy i narzędzia naprawcze.",
        },
      },
      {
        style: "bg-gray-light",
        title: "Rozwój strony internetowej",
        description:
          "Doradź się lub zleć dodanie nowej funkcjonalności do strony internetowej, zwiększającej jej wartość dla użytkowników.",
        features: [
          "Czego brakuje na stronie?",
          "Co można ulepszyć?",
          "Co można zrobić lepiej?",
        ],
        action: {
          link: "/oferta/rozwoj-strony-www",
          text: "Sprawdź ofertę rozwoju strony",
        },
        image: {
          src: "rozwoj-strony-www.webp",
          alt: "Nowoczesne i rozwinięte miasto z wysokimi budynkami i dużą ilością światła na drodze.",
        },
      },
      {
        style: "bg-black text-white",
        title: "Wdrażanie cyfrowych narzędzi",
        description:
          " Zleć poszukiwanie możliwości i/lub wdrażanie narzędzi cyfrowych dla Twojej firmy. Badź na czasie i korzystaj z odpowiednich narzędzi.",
        features: [
          "Gdzie można wdrożyć narzędzia cyfrowe?",
          "Jakie narzędzie będzie najlepsze?",
          "Jak je wdrożyć i dopasować do siebie?",
        ],
        action: {
          link: "/oferta/wdrazanie-narzedzi-cyfrowych",
          text: "Sprawdź ofertę cyfryzacji",
        },
        image: {
          src: "cyfryzacja.webp",
          alt: "Osoba korzystając z nowoczesnych technologii - ubierająca okulary VR wirtualnej rzeczywistości.",
        },
      },
      {
        style: "bg-accent-darkest text-white",
        title: "Automatyzacja procesów firmowych",
        description:
          " Zleć poszukiwanie możliwości i/lub wdrożenie automatyzacji części, lub całego procesu w Twojej firmie. Oszczędzaj czas, minimalizuj błędy, tnij koszty.",
        features: [
          "Gdzie i co można zautomatyzować?",
          "Czy ten proces jest warty automatyzacji?",
          "Jak to zautomatyzować i dopasować do siebie?",
        ],
        action: {
          link: "/oferta/automatyzacja-procesow-firmowych",
          text: "Sprawdź ofertę automatyzacji",
        },
        image: {
          src: "automatyzacja.webp",
          alt: "Nowoczesna, zautomatyzoana ręka robotyczna",
        },
      },
    ].map((item, index) => (
      <Section class:list={[item.style]}>
        <Row>
          <>
            <div class="flex flex-col items-start justify-center gap-4 md:gap-8">
              <div class="flex flex-col gap-4">
                <h2>{item.title}</h2>
                <p class="text-lg">{item.description}</p>
              </div>
              <IconList items={item.features} />
              <Button
                link={buildSlug(item.action.link)}
                class="self-stretch md:self-start">
                {item.action.text}
              </Button>
            </div>
            <div>
              <MyImage
                src={item.image.src}
                alt={item.image.alt}
                loading={index === 0 ? "eager" : "lazy"}
              />
            </div>
          </>
        </Row>
      </Section>
    ))
  }

  <Section center class="bg-gray-light">
    <div class="flex max-w-prose flex-col gap-8 text-center">
      <h2>To nie wszystko</h2>
      <p class="text-lg">
        Wyróżnione elementy oferty nie są jedyne, a także są bardzo złożone,
        składając się z wielu mniejszych.
      </p>
      <div class="flex justify-center">
        <Button link={buildSlug("/oferta/inne")}
          >Zobacz szerszą listę pól do współpracy</Button
        >
      </div>
    </div>
  </Section>

  <WorkingRules />

  <!-- CTA -->
  <CTA>
    <p class="text-center text-h2">Chcesz podjąć współpracę?</p>

    <Button variant="tetriary" link={buildSlug("/kontakt")}
      >Skontaktuj się</Button
    >
  </CTA>
</PageLayout>
