---
import { buildSlug } from "@utils/utils"

import PageLayout from "@layouts/PageLayout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import { Icon } from "astro-icon/components"
import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"
import FAQ from "~/components/parts/FAQ.astro"

import { Content as ReviewScript } from "@components/parts/ReviewScript.md"

const meta: Meta = {
  title: "Ocena strony WWW - Poznaj błędy i atuty",
  description:
    "Skorzystaj z audytu, by wiedzieć co i jak poprawić na swojej stronie (sklepie) www. Poddaj ocenie witryny specjaliście i kieruj się ku lepszej stronie.",
  og: false,
  tw: false,
}

const schema: Schema = {}
---

<PageLayout
  pageTitle="Ocena strony (sklepu) www"
  pageDescription="Dowiedz się, czy i jakie błędy są najbardziej widoczne i oddziałują na skuteczność Twojej strony / sklepu."
  meta={meta}
  schema={schema}
  ><Section
    ><Row
      ><div class="flex flex-col items-start justify-center gap-8">
        <div class="flex flex-col gap-4">
          <h2>Na czym polega ocena strony www?</h2><p class="text-lg">
            Ocena strony internetowej (audyt) to jej przegląd w poszukiwaniu
            niedoskonałości. Celem jest lepsza strona www.
          </p><p class="text-lg">
            <b>Na każdej stronie są błędy i jest się do czego przyczepić</b>,
            zwłaszcza że strony są tworzone przez coraz mniej doświadczone
            osoby.
          </p><p class="text-lg">
            Skupiam się jednak na naprawdę ważnych elementach, przez które <b>
              Twoja firma potencjalnie traci klientów i pieniądze.
            </b>
          </p>
        </div>
      </div>

      <div>
        <MyImage
          src="audyt-strony-www.webp"
          alt="Raport z audytu strony internetowej pod różnymi kategoriami."
          loading="eager"
        />
      </div>
    </Row>
    <Row maxColumns={4} class="mt-4 md:mt-8">
      {
        [
          {
            title: "istotne błędy",
            description:
              " Znalezienie naprawdę ważnych błędów, przez które tracisz wiarygodność i pieniądze.",
          },
          {
            title: "poprawność działania",
            description:
              "Nie ma nic gorszego niż widoczne i niedziałające elementy, jak np. formularz kontaktowy.",
          },
          {
            title: "wskazówki poprawy",
            description:
              "Zamiast samego błędu w wielu przypadkach otrzymasz wskazówkę, jak można go naprawić.",
          },
          {
            title: "dodatkowe ulepszenia",
            description:
              "Dodatkowo można uzyskać poradę, co warto dodać lub zmienić na stronie www.",
          },
        ].map((item) => (
          <div class="flex flex-col gap-2">
            <p class="text-h5">{item.title}</p>
            <p class="text-gray-dark">{item.description}</p>
          </div>
        ))
      }
    </Row>
  </Section>

  <!-- <Section class="bg-gray-light"
    ><Row
      ><MyImage src="placeholder.webp" alt=" tworzenie strony www" /><div
        class="flex flex-col items-start justify-center gap-8">
        <div class="flex flex-col gap-4">
          <h2>Dlaczego warto mieć lepszą stronę www?</h2><p class="text-lg">
            Strona internetowa jest wizytówką Twojej firmy, a dokładniej jej
            przedstawicielem, marketerem czy sprzedawcą i często decyduje o tym,
            czy klient zdecyduje się na współpracę lub zakup. Jest szczególnie
            ważne dzisiaj, przy tak dużej konkurencji.
          </p><p>
            <b>
              Być może nawet więcej osób zobaczy Twoją stronę internetową niż
              odwiedzi Twoje biuro lub siedzibę
            </b>, o którą z pewnością zadbałeś(aś). Dlatego warto zadbać o
            jakość strony www.
          </p>
        </div>
      </div>
    </Row>
    <div
      class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
      {
        [
          {
            title: "większa widoczność",
            description:
              "Zrozum podstawowe, lecz kluczowe błędy, które wpływają na widoczność strony www.",
          },
          {
            title: "większa atrakcyjność",
            description:
              "Poznaj miejsca i elementy, które warto poprawić, by Twoja oferta była jeszcze lepsza.",
          },
          {
            title: "większa konwersja",
            description:
              "Wskazane błędy mogą zmienić odbiór Twojej strony i zwiększać zaufanie potencjalnych klientów.",
          },
          {
            title: "większa sprzedaż",
            description:
              "Naprawa wskazanych błędów, które może nawet uniemożliwiały kontakt prowadzi do lepszej sprzedaży.",
          },
          {
            title: "lepszy wizerunek",
            description:
              "Nowoczesne funkcje pokazują, że firma jest profesjonalna i dba o swoich klientów. ",
          },
          {
            title: "obniżenie kosztów",
            description:
              "Łatwiejszy dostęp do informacji, mniej pytań i lepsze opinie o firmie.h",
          },
          {
            title: "większa sprzedaż",
            description:
              "Naprawa wskazanych błędów, które może nawet uniemożliwiały kontakt prowadzi do lepszej sprzedaży.",
          },
        ].map((item) => (
          <div class="flex flex-col gap-2">
            <p class="text-h5">{item.title}</p>
            <p class="text-gray-dark">{item.description}</p>
          </div>
        ))
      }
    </div>
  </Section> -->

  <Section class="bg-accent-darkest text-white"
    ><div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="flex flex-col gap-4">
        <h2>Co jest sprawdzane i oceniane</h2><p class="text-lg">
          Skupiam się na naprawdę ważnych kwestiach, przez które potencjalnie
          tracisz widoczność, wiarygodność, klientów i pieniądze.
        </p>
        <p class="text-gray">
          Można się czepiać wielu różnych rzeczy, np. kolorów czy nierównych
          odstępów. To wszystko wpływa na profesjonalizm i odbiór Twojej marki,
          ale nie ma nic gorszego, gdy coś nie działa lub użytkownik nie wie, co
          ma zrobić.
        </p>
      </div><div
        class="grid grid-cols-1 gap-8 lg:col-span-2 lg:grid-cols-2 xl:grid-cols-3">
        {
          [
            {
              icon: "tabler:eye-cancel",
              text: "elementy wizualne",
              description:
                "czy strona nie ma rażących błędów wizualnych, które niszczą obraz firmy?",
            },
            {
              icon: "tabler:shield-search",
              text: "bezpieczeństwo",
              description: "Czy strona jest bezpieczna i wzbudza zaufanie?",
            },
            {
              icon: "tabler:brand-speedtest",
              text: "szybkość",
              description:
                "Czy strona nie ładuje się zbyt wolno, zniechęcając potencjalnego klienta?",
            },
            {
              icon: "tabler:layout",
              text: "responsywność",
              description:
                "Czy strona wyświetla się dobrze zarówno na komórkach jak i komputerach?",
            },
            {
              icon: "tabler:road-sign",
              text: "intuicyjność",
              description:
                "Czy nawigacja i korzystanie ze strony jest intuicyjne? Czy są zachowane standardy?",
            },
            {
              icon: "tabler:hammer",
              text: "użyteczność",
              description:
                "Czy wszystko dostępne na stronie jest użyteczne i przydatne? Czy jest to wygodne?",
            },
            {
              icon: "tabler:adjustments",
              text: "funkcjonalność",
              description:
                "Czy wszystko działa tak, jak należy? Przyciski, linki, formularze?",
            },
            {
              icon: "tabler:report-money",
              text: "wartość",
              description:
                "Subiektywna ocena oczami potencjalnego klienta - czy są wszystkie niezbędne informacje? Czego mi brakuje?",
            },
            {
              icon: "tabler:device-desktop-search",
              text: "techniczne SEO",
              description:
                "Najważniejsze kwestie technicznego SEO wpływające na widoczność w sieci - indeksacja, canonical, tagi meta, nagłówki",
            },
          ].map((item, index) => (
            <div class="flex flex-row items-center gap-2 text-accent-lightest">
              <Icon name={item.icon} class="text-5xl" />
              <span class="text-h5">{item.text}</span>
              <button
                data-popover-target={`function-description-${index}`}
                data-popover-placement="bottom"
                type="button">
                <>
                  <svg
                    class="ms-2 h-4 w-4 text-accent hover:text-accent-dark"
                    aria-hidden="true"
                    fill="currentColor"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path
                      fill-rule="evenodd"
                      d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <span class="sr-only">Pokaż szczegóły</span>
                </>
              </button>
              <div
                data-popover
                id={`function-description-${index}`}
                role="tooltip"
                class="text-whitee invisible absolute z-10 inline-block w-72 rounded bg-accent-dark text-sm opacity-0 shadow-sm transition-opacity duration-300">
                <div class="space-y-2 p-4">
                  <p>{item.description}</p>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div></Section
  >

  <Section class="bg-gray-light"
    ><Row placement="items-start"
      ><div class="flex flex-col items-start justify-center">
        <h2>Wyraźnie wskazane błędy i możliwości poprawy oraz ulepszeń</h2>
      </div>

      <div class="flex flex-col items-start justify-center gap-8">
        <p class="text-lg">
          Błędy są wyraźne wypunktowane, a miejsca, w których można coś jeszcze
          dodatkowo poprawić, także są wskazywane.
        </p>
        <div class="flex flex-col gap-4 self-stretch lg:flex-row lg:self-start">
          <Button link={buildSlug("/kontakt")}>Zleć pełny audyt</Button>
          <Button link={buildSlug("/kontakt")} variant="secondary"
            >Odbierz darmową próbkę</Button
          >
        </div>
      </div>
    </Row>
  </Section>

  <Section>
    <div
      class="align-items-center grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <div class="col-span-2 flex flex-col gap-8">
        <h2>Przykłady najczęstszych błędów</h2>
        <div class="flex flex-row flex-wrap items-start gap-4">
          {
            [
              "brak ważnego certyfikatu SSL",
              "problemy z indeksacją",
              "niedziałające linki",
              "wolne wczytywanie strony",
              "nieintuicyjna nawigacja",
              "błędy lub brak responsywności",
              "problemy z kontrastem",
              "niewłaściwe stosowanie nagłówków",
              "brak tagu canonical",
              "zbyt duży rozmiar obrazów",
              "skomplikowany lub niedziałający formularz",
              "brak podstawowej analityki",
            ].map((item) => (
              <div class="bg-accent-lightest px-4 py-2">{item}</div>
            ))
          }
        </div>
      </div><div class="">
        <MyImage src="stop.webp" alt="Znak stop - droga bez przejazdu." />
      </div>
    </div>
  </Section>

  <Section center class="bg-accent-darkest text-white">
    <h2>Cennik - ile kosztuje audyt strony (sklepu) www ?</h2>
    <Row>
      <div class="flex flex-col gap-8 rounded-lg bg-accent-dark p-8 shadow">
        <div class="flex w-full flex-col justify-between">
          <div class="flex flex-row items-center justify-between gap-4">
            <Icon name="tabler:camera" class="text-7xl" />
            <p class="text-h2">0 zł</p>
          </div>
          <div class="flex flex-col">
            <p class="text-h5">Audyt wideo</p>
            <p class="text-accent-lightest">Darmowa próbka</p>
          </div>
        </div>

        <hr class="h-px w-full border-0 bg-accent-light" />

        <div class="flex flex-col">
          <p class="text-lg"><b>Format</b></p>
          <p class="text-accent-lightest">
            Kilkuminutowe wideo z przeglądu strony www
          </p>
        </div>

        <div class="flex flex-col">
          <p class="text-lg"><b>Zawartość</b></p>
          <p class="text-accent-lightest">
            Ogólna ocena - wskazanie najbardziej widocznych błędów,
            niedoskonałości i możliwości poprawy.
          </p>
        </div>

        <hr class="h-px w-full border-0 bg-accent-light" />

        <div class="flex flex-col gap-4 lg:flex-row">
          <Button link={buildSlug("/kontakt")}>Odbierz darmową próbkę</Button>
          <!-- <Button variant="tetriary" link={buildSlug("")}
            >Zobacz przykład</Button
          > -->
        </div>
      </div>

      <div class="flex flex-col gap-8 rounded-lg bg-accent-dark p-8 shadow">
        <div class="flex w-full flex-col justify-between">
          <div class="flex flex-row items-center justify-between gap-4">
            <Icon name="tabler:file-type-pdf" class="text-7xl" />
            <p class="text-h2">od 349 zł*</p>
          </div>
          <div class="flex flex-col">
            <p class="text-h5">Audyt PDF</p>
            <p class="text-accent-lightest">Pełny raport</p>
          </div>
        </div>

        <hr class="h-px w-full border-0 bg-accent-light" />

        <div class="flex flex-col">
          <p class="text-lg"><b>Format</b></p>
          <p class="text-accent-lightest">
            dokument pdf z listą błędów i objaśnieniami
          </p>
        </div>

        <div class="flex flex-col">
          <p class="text-lg"><b>Zawartość</b></p>
          <p class="text-accent-lightest">
            Szczegółowa lista znalezionych błędów i niedoskonałości, komentarze
            i objaśnienia dot. poszczególnych kwestii.
          </p>
        </div>

        <hr class="h-px w-full border-0 bg-accent-light" />

        <div class="flex flex-col gap-4 lg:flex-row">
          <Button link={buildSlug("/kontakt")}>Zleć pełny audyt</Button>
          <!-- <Button variant="tetriary" link={buildSlug("")}
            >Zobacz przykład</Button
          > -->
        </div>
      </div>
    </Row>
  </Section>

  <Section center>
    <h2>Co po wykonanym audycie?</h2>
    <Row maxColumns={3}>
      <div class="flex flex-col gap-4">
        <MyImage
          src="pisanie-na-klawiaturze.webp"
          alt="Osoba pracująca przy komputerze i technologii cyfrowej."
          width={500}
          aspect="aspect-video"
        />
        <h3 class="text-center text-h5">Popraw samodzielnie</h3>
      </div>
      <div class="flex flex-col gap-4">
        <MyImage
          src="inny-tworca.webp"
          alt="Osoby rozmawiające o stronie internetowej wyświetlanej na ekranie komputera."
          width={500}
          aspect="aspect-video"
        />
        <h3 class="text-center text-h5">Zleć poprawę Twórcy</h3>
      </div>
      <div class="flex flex-col gap-4">
        <MyImage
          src="hero6.webp"
          alt="Łukasz Miłoś w garniturze."
          width={500}
          aspect="aspect-video"
        />
        <h3 class="text-center text-h5">
          <a
            href={buildSlug("/oferta/poprawa-strony-www")}
            class="text-black underline underline-offset-2 hover:text-accent">
            Zleć poprawę mi
          </a>
        </h3>
      </div></Row
    >
  </Section>

  <Section class="bg-accent-darkest text-white"
    ><Row placement="items-start"
      ><div class="flex flex-col items-start">
        <h2>
          Połączenie kilku audytów, by dać Ci maksimum korzyści za niską cenę
        </h2>
      </div>

      <div class="flex flex-col items-start justify-center gap-8">
        <p class="text-lg">
          Proponowany audyt zawiera części audytu SEO, audytu UX i audytu
          dostępności za drobny ułamek ceny, którą trzeba by zapłacić za każdy z
          nich osobna. Nie porusza on wszystkich kwestii, ale skupia się na
          rzeczach najważniejszych.
        </p>
        <div class="flex flex-col gap-4 self-stretch lg:flex-row lg:self-start">
          <Button link={buildSlug("/kontakt")}>Zleć pełny audyt</Button>
          <Button link={buildSlug("/kontakt")} variant="tetriary"
            >Odbierz darmową próbkę</Button
          >
        </div>
      </div>
    </Row>
  </Section>

  <Section center>
    <div class="flex max-w-prose flex-col gap-4 md:text-center">
      <h2>Skrypt szczegółowego audytu strony (sklepu) www</h2>
      <p class="text-lg">Zobacz, za co płacisz i co zostanie sprawdzone</p>
    </div>
    <article
      class="prose marker:text-black prose-h1:text-h1 prose-h2:text-h3 prose-h3:text-h4 prose-h4:text-h5 prose-h5:text-h5 prose-h6:text-h6">
      <ReviewScript />
    </article>
  </Section>

  <FAQ
    id="faq-reviewing-site"
    items={[
      {
        question: "Na czym polega ocena strony internetowej?",
        answer: [
          "Ocena strony internetowej, znana również jako audyt, to przegląd witryny w celu znalezienia niedoskonałości. Celem jest poprawa skuteczności i funkcjonalności strony.",
        ],
      },
      {
        question: "Jakie błędy są najczęściej wykrywane podczas audytu strony?",
        answer: [
          "Najczęściej wykrywane błędy to brak certyfikatu SSL, problemy z indeksacją, niedziałające linki, wolne wczytywanie strony, brak responsywności, problemy z kontrastem oraz niepoprawne stosowanie nagłówków.",
        ],
      },
      {
        question: "Czy ocena strony www obejmuje analizę SEO?",
        answer: [
          "Tak, ocena strony zawiera elementy audytu technicznego SEO, takie jak analiza meta tagów, struktury nagłówków, szybkości wczytywania strony oraz indeksacji w Google.",
        ],
      },
      {
        question: "Co jest sprawdzane podczas audytu strony internetowej?",
        answer: [
          "Podczas audytu sprawdzane są elementy wizualne, bezpieczeństwo, szybkość, responsywność, intuicyjność, użyteczność, funkcjonalność, wartość treści oraz techniczne aspekty SEO.",
        ],
      },
      {
        question: "Jakie korzyści daje wykonanie audytu strony internetowej?",
        answer: [
          "Audyt strony internetowej pomaga zidentyfikować błędy, które mogą wpływać na skuteczność strony, poprawić jej funkcjonalność i użyteczność oraz zwiększyć widoczność w wyszukiwarkach.",
        ],
      },
      {
        question: "Czy mogę samodzielnie poprawić błędy wykryte w audycie?",
        answer: [
          "Tak, po otrzymaniu raportu z audytu możesz samodzielnie wprowadzić poprawki. Alternatywnie, możesz zlecić poprawę błędów twórcy strony, mi lub innemu specjaliście.",
        ],
      },
      {
        question: "Ile kosztuje pełny audyt strony internetowej?",
        answer: [
          "Pełny audyt strony internetowej w formie raportu PDF kosztuje od 399 zł. Dostępna jest również darmowa próbka w formie krótkiego wideo z przeglądu strony.",
        ],
      },
      {
        question:
          "Czy audyt strony obejmuje również poprawę użyteczności (UX)?",
        answer: [
          "Tak, audyt strony zawiera elementy analizy UX, takie jak intuicyjność nawigacji, użyteczność formularzy, czytelność treści oraz responsywność strony na urządzeniach mobilnych.",
        ],
      },
      {
        question: "Czy mogę zamówić darmową próbkę audytu?",
        answer: [
          "Tak, oferuję darmową próbkę audytu w formie kilkuminutowego wideo, które zawiera ogólną ocenę i wskazanie najbardziej widocznych błędów oraz możliwości poprawy.",
        ],
      },
    ]}
  />

  <!-- CTA -->
  <CTA secondary>
    <p class="text-center text-h2">
      Chcesz, aby Twoją stronę (sklep) ocenił specjalista?
    </p>

    <div class="flex w-full flex-col justify-center gap-4 md:flex-row">
      <Button link={buildSlug("/kontakt")}>Zleć pełny audyt</Button>
      <Button link={buildSlug("/kontakt")} variant="secondary"
        >Odbierz darmową próbkę</Button
      >
    </div>
  </CTA>
</PageLayout>
