---
import { buildSlug } from "@utils/utils"

import PageLayout from "@layouts/PageLayout.astro"
import { type Meta, type Schema } from "@components/core/MySEO.astro"

import { Icon } from "astro-icon/components"
import Section from "@components/core/Section.astro"
import Row from "@components/core/Row.astro"
import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

import CTA from "@components/widgets/CTA.astro"

const meta: Meta = {
  title: "Portfolio - Zobacz moje realizacje",
  description:
    "Zobacz moje realizacje, czyli wybrane projekty z przeszłości, które pozwolą Ci podjąć lepszą decyzję o współpracy. Lista ciągle się powiększa.",
  // openGraph: {},
  // twitter: {},
  og: false,
  tw: false,
}

const schema: Schema = {
  "@context": "http://schema.org",
  "@type": "WebSite",
  url: "https://lukaszmilos.pl/portfolio/",
  name: "Portfolio - Łukasz Miłoś",
  description:
    "Przeglądaj portfolio Łukasza Miłoś, aby zobaczyć przykłady jego prac i projekty z zakresu cyfrowej transformacji.",
}
---

<PageLayout
  pageTitle="Portfolio"
  pageDescription="Zobacz, co już w przeszłości wykonałem"
  meta={meta}
  schema={schema}
  ><Section center noBottomPadding>
    <div class="flex max-w-prose flex-col gap-4 md:text-center">
      <h2>Strony internetowe</h2>
      <p class="text-lg">
        Niektóre z moich wydanych stron internetowych. Na zapleczu wykonywałem
        także wiele różnych testów i porównań różnych narzędzi do tworzenia
        stron www.
      </p>
    </div>
  </Section>

  {
    [
      {
        title: "Miernik rozwarcia",
        subtitle:
          "Strona internetowa typu landing page, prezentująca fizyczny produkt do sprzedaży",
        technology:
          "Technologia wykonania to WordPress, z użyciem natywnego edytora Gutenberg, z motywem Astra i zestawem narzędzi Spectra.",
        description:
          "Strona została przeze mnie w pełni zaprojektowana i przygotowana. Jest to dość stary, ale zupełnie autorski projekt: pomysł, szata graficzna i tekst sprzedażowy oraz oczywiście kwestie techniczne wdrożenia. Skupiono się na maksymalnej prostocie i optymalizacji SEO. Postawiono na dużą wyraźną czcionkę i wyrazisty żółto-pomarańczowy kolor, by całość była czytelna także dla starszych i doświadczonych osób, należących do grupy docelowej.",
        status:
          "Strona mimo braku pielęgnacji i dalszego rozwoju ciągle działa i co jakiś czas przynosi zainteresowanego klienta. Jest w TOP3 na główną frazę, a w samym Google można znaleźć wiele zdjęć, które z niej pochodzą. Z perspektywy czasu wymaga jednak sporo poprawek graficznych i nie tylko.",
        image: {
          src: "portfolio/miernik-rozwarcia.webp",
          alt: "Strona internetowa www.miernik-rozwarcia.xce.pl stworzona przez Łukasza Miłoś",
        },
        link: "https://miernik-rozwarcia.xce.pl",
        youtubeLink: "https://www.youtube.com/watch?v=Qt4iBtRPIYI",
      },
      {
        title: "Moja poprzednia strona",
        subtitle: "Moja poprzednia osobista strona internetowa",
        technology:
          "Technologia wykonania to WordPress, z użyciem natywnego edytora Gutenberg, z motywem Kadence i zestawem narzędzi Kadence Blocks.",
        description:
          "Strona w pełni przeze mnie zaprojektowana i zrealizowana. Był to pierwszy projekt z użyciem Wordpressa. Projekt cechuje niebieski kolor i dużo przestrzeni, a także całkiem dobra optymalizacja.",
        status:
          "Strona została zarchiwizowana i nie jest już przeze mnie użytkowana. Zyskała ona nieco odwiedzin.",
        image: {
          src: "portfolio/poprzednia-strona-www.webp",
          alt: "Fragment nieistniejącej strony www.lukasz-milos.pl",
        },
        link: "",
        youtubeLink: "https://www.youtube.com/watch?v=9IvBqwJMGvc",
      },
      {
        title: "Aktualna strona",
        subtitle:
          "Oficjalna strona internetowa Łukasza Miłoś, prezentująca markę osobistą",
        technology:
          "Technologia wykonania to Astro (SSG, statyczna strona kodowana) z użyciem tailwind css i najnowszych technik. Szata graficzna została przygotowana w figmie z użyciem siatek relume.",
        description:
          "Strona całkowicie przygotowana przez moją osobę. Pomysł, projekt, teksty, wdrożenie. Strona odznacza się niesamowitą szybkością działania, bezpieczeństwem, spójnością i treścią. Nie zapomniano także o optymalizacji SEO i prawnych zaleceniach. Postawiono na kolor niebieski, kojarzący się z technologią i bezpieczeństwem, w związku ze specjalnością. Przygotowano także bloga i RSS feed.",
        status:
          "Strona jest nowa i nie ma jeszcze odnotowanych sukcesów. Ze względu na swój statyczny charakter jest całkowicie bezpieczna i nie wymaga utrzymania - tylko rozwój się liczy.",
        image: {
          src: "portfolio/obecna-strona.webp",
          alt: "Aktualna stronna internetowa www.lukaszmilos.pl stworzona przez Łukasza Miłoś",
        },
        link: "",
        youtubeLink: "https://www.youtube.com/watch?v=Fhb67CdMRYU",
      },
    ].map((item, index) => (
      <Section class:list={[index % 2 !== 0 && "bg-gray-light"]}>
        <Row>
          <div class="flex flex-col items-start justify-center gap-8">
            <div class="flex flex-col gap-2">
              <h3 class="text-h4">{item.title}</h3>
              <p class="text-lg">{item.subtitle}</p>
            </div>
            <hr class="h-px w-1/2 border-0 bg-border_color" />

            <div class="flex flex-col gap-6">
              <div class="flex flex-col gap-2">
                <div class="flex flex-row items-center gap-2 text-accent">
                  <Icon name="tabler:brand-apple-arcade" class="text-2xl" />
                  <p class="text-lg font-bold">Technologia</p>
                </div>
                <p>{item.technology}</p>
              </div>

              <div class="flex flex-col gap-2">
                <div class="flex flex-row items-center gap-2 text-accent">
                  <Icon name="tabler:list" class="text-2xl" />
                  <p class="text-lg font-bold">Opis prac</p>
                </div>
                <p>{item.description}</p>
              </div>

              <div class="flex flex-col gap-2">
                <div class="flex flex-row items-center gap-2 text-accent">
                  <Icon name="tabler:brand-google-analytics" class="text-2xl" />
                  <p class="text-lg font-bold">Status</p>
                </div>
                <p>{item.status}</p>
              </div>
            </div>

            <hr class="h-px w-1/2 border-0 bg-border_color" />

            <div class="flex flex-row gap-4">
              {item.link.length > 0 && (
                <Button
                  link={item.link}
                  rawLink
                  rel="nofollow"
                  target="_blank"
                  class="self-stretch md:self-start">
                  Zobacz na żywo
                </Button>
              )}{" "}
              {item.youtubeLink.length > 0 && (
                <Button
                  link={item.youtubeLink}
                  variant="secondary"
                  rawLink
                  rel="nofollow"
                  target="_blank"
                  class="self-stretch md:self-start">
                  Oglądnij omówienie
                </Button>
              )}
            </div>
          </div>

          <div>
            <MyImage
              src={item.image.src}
              alt={item.image.alt}
              loading={index === 0 ? "eager" : "lazy"}
            />
          </div>
        </Row>
      </Section>
    ))
  }

  <Section center class="bg-gray-light">
    <div class="flex max-w-prose flex-col gap-4 md:text-center">
      <h2>Skrypty i aplikacje</h2>
      <p class="text-lg">
        Poniższe aplikacje były tworzone za pomocą prawdziwych języków
        programowania. Dzisiaj istnieje wiele narzędzi low-code i no-code oraz
        sztuczna inteligencja, co znacząco ułatwia i przyspiesza cały proces.
      </p>
    </div>

    <Row maxColumns={3} placement="justify-stretch">
      {
        [
          {
            title: "Robox",
            description:
              "Oprogramowanie służące do symulacji sterowania ramieniem robotycznym, z pełnym i interaktywnym interfejsem graficznym.  Silnik Unity oraz język C#.",
            image: {
              src: "pages/robox.webp",
              alt: "Zrzut ekranu z aplikacji stworzonej przez Łukasza Miłoś, służącej do symulacji sterowania ramieniem robotycznym",
            },
            link: "https://github.com/Coolxer/Robox",
          },
          {
            title: "Bompy",
            description:
              "Prosta aplikacja graficzna stworzona na potrzeby projektu podczas studiów, służąca do prowadzenia zestawienia materiałowego, wykonana przy pomocy języka programowania Python.",
            image: {
              src: "portfolio/bompy.webp",
              alt: "Zrzut ekranu z aplikacji stworzonej przez Łukasza Miłoś, służącej do prowadzenia zestawienia materiałowego",
            },
            link: "https://github.com/Coolxer/BOMPY",
          },
          {
            title: "Vis4xe",
            description:
              "Aplikacja graficzna do organizacji pola małego wyświetlacza segmentowego (np. do projektu Arduino). Projekt stworzony w języku C++, z wykorzystaniem biblioteki Qt.",
            image: {
              src: "portfolio/vis4xe.webp",
              alt: "Zrzut ekranu z aplikacji stworzonej przez Łukasza Miłoś, służącej organizacji pola małego wyświetlacza segmentowego",
            },
            link: "https://github.com/Coolxer/Vis4xe",
          },
        ].map((item) => (
          <div class="flex flex-col rounded bg-gray-lightest shadow-sm">
            <div class="aspect-square">
              <MyImage
                src={item.image.src}
                alt={item.image.src}
                rounded="rounded rounded-b-none"
                shadow="shadow-none"
              />
            </div>
            <div class="flex h-full flex-col items-start justify-between gap-6 p-6">
              <div class="flex flex-col gap-4">
                <h3 class="text-h5">{item.title}</h3> <p>{item.description}</p>
              </div>
              <Button
                link={item.link}
                rawLink
                rel="nofollow"
                target="_blank"
                class="self-stretch md:self-start">
                Zobacz więcej
              </Button>
            </div>
          </div>
        ))
      }
    </Row>

    <div class="text-h3">
      Zobacz zdecydowanie więcej na <a
        href="https://github.com/Coolxer?tab=repositories"
        rel="nofollow"
        target="_blank"
        class="hover:text-accent-dark hover:underline">
        github
      </a>
    </div>
  </Section>

  <!-- CTA -->
  <CTA>
    <p class="text-center text-h2">Chcesz podjąć współpracę?</p>
    <p class="text-center text-lg">
      “Może można zarzucić mi brak doświadczenia, ale nie brak wiedzy,
      umiejętności i zaangażowania”.
    </p>
    <p class="text-center text-gray-light">
      Jestem otwarty na propozycję realizacji projektów, ale i również na stałą
      współpracę.
    </p>
    <div class="flex w-full flex-col justify-center gap-4 md:flex-row">
      <Button link={buildSlug("/oferta")}>Zobacz ofertę</Button>
      <Button variant="tetriary" link={buildSlug("/kontakt")}
        >Skontaktuj się</Button
      >
    </div>
  </CTA>
</PageLayout>
