---
import { Icon } from "astro-icon/components"

import { type Meta } from "@components/core/MySEO.astro"

import laptopImage from "@assets/images/laptop.png"
import glassImage from "@assets/images/glass.jpg"
import stopImage from "@assets/images/stop.jpg"

import PageLayout from "@layouts/PageLayout.astro"

import IconList from "~/components/ui/IconList.astro"

import Button from "@components/ui/Button.astro"
import Row from "@components/core/Row.astro"
import Section from "@components/core/Section.astro"

import MyImage from "@components/ui/MyImage.astro"
import Gallery from "@components/ui/Gallery.astro"
import Carousel from "@components/ui/Carousel.astro"

import ContactForm from "@components/widgets/ContactForm.astro"
import Counter from "@components/widgets/Counter.astro"
import FAQ from "@components/ui/FAQ.astro"

const meta: Meta = {
  title: "Stylebook",
  description: "Strona ustawień stylu",
  noindex: true,
  nofollow: true,
}

const pageTitle = meta.title
const pageDescription = "Oprawa graficzna strony"

const loremTitle = "Lorem ipsum dolor sit amet"
const loremLeading =
  "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin arcu sit amet blandit efficitur. In convallis bibendum dui quis facilisis. Nunc et dui quam."
const loremDescription =
  "Cras a fringilla nisi, non laoreet magna. Vestibulum justo dolor, tempus quis mauris ac, bibendum tincidunt dui. Pellentesque nec odio quis eros tristique dictum. Phasellus vestibulum, lectus vitae cursus aliquam, metus nulla auctor risus, vitae condimentum nibh est ut lectus. Sed ultrices malesuada pulvinar. Vestibulum vehicula dui sed euismod lobortis. Praesent lectus diam, tempus id dapibus ac, mattis ut nibh. Nulla ipsum sem, blandit in augue non, congue molestie massa. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nunc tempor tortor id enim pharetra dictum. Aenean vel diam eu tortor porta sagittis. Donec id ex blandit, finibus orci eleifend, sollicitudin lacus. Integer at diam sollicitudin, finibus nibh vitae, cursus lacus."
---

<PageLayout pageTitle={pageTitle} pageDescription={pageDescription} meta={meta}>
  <!-- Optimized background image -->
  <div class="relative min-h-screen w-full">
    <MyImage img={glassImage} class="l-0 t-0 absolute -z-10 size-full" />
    <p class="relative z-10 text-white">Tutaj moja tresc</p>
  </div>

  <!-- Text -->
  <Section>
    <div class="flex flex-col items-start gap-y-7">
      <h1>Heading 1 first line <br /> Heading 1 second line</h1>
      <h2>Heading 2 first line <br /> Heading 2 second line</h2>
      <h3>Heading 3 first line <br /> Heading 3 second line</h3>
      <h4>Heading 4 first line <br /> Heading 4 second line</h4>
      <h5>Heading 5 first line <br /> Heading 5 second line</h5>
      <h6>Heading 6 first line <br /> Heading 6 second line</h6>

      <p class="text-sm">
        {loremDescription}
      </p>
      <p>
        {loremDescription}
      </p>
      <p class="text-lg">
        {loremDescription}
      </p>
    </div>
  </Section>

  <!-- Faq accordion -->
  <Section>
    <h2>FAQ - Pytania i odpowiedzi</h2>
    <FAQ
      id="faq-1"
      data={[
        { question: "abc", answer: ["cde", "asdasdasd", "asdasdasdasdas"] },
        { question: "abc", answer: ["cde"] },
        { question: "abc", answer: ["cde"] },
        { question: "abc", answer: ["cde"] },
      ]}
    />
  </Section>

  <!-- Icon list -->
  <Section>
    <h2>Lista punktowana z ikonami</h2>
    <IconList items={["sdkasdklasdlkasjdasd", "asdaskldjaskdlasd", "asdaskdaslkdalsd"]} />
  </Section>

  <!-- Buttons -->
  <Section>
    <h2>Przyciski</h2>
    <div class="flex flex-col items-start gap-y-7">
      <!-- primary buttons  -->
      <div class="flex flex-row flex-wrap gap-5">
        <Button link="#" variant="primary" size="sm"> Kup teraz </Button>

        <Button link="#" variant="primary"> Kup teraz </Button>

        <Button link="#" variant="primary" size="lg"> Kup teraz </Button>
      </div>

      <!-- primary buttons with icon  -->
      <div class="flex flex-row flex-wrap gap-5">
        <Button link="#" variant="primary" size="sm">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>

        <Button link="#" variant="primary">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>

        <Button link="#" variant="primary" size="lg">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>
      </div>

      <!-- secondary buttons  -->
      <div class="flex flex-row flex-wrap gap-5">
        <Button link="#" variant="secondary" size="sm"> Kup teraz </Button>

        <Button link="#" variant="secondary"> Kup teraz </Button>

        <Button link="#" variant="secondary" size="lg"> Kup teraz </Button>
      </div>

      <!-- secondary buttons with icon  -->
      <div class="flex flex-row flex-wrap gap-5">
        <Button link="#" variant="secondary" size="sm">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>

        <Button link="#" variant="secondary">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>

        <Button link="#" variant="secondary" size="lg">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>
      </div>

      <!-- link buttons -->
      <div class="flex flex-row flex-wrap gap-5">
        <Button link="#" variant="link" size="sm">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>

        <Button link="#" variant="link">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>

        <Button link="#" variant="link" size="lg">
          Kup teraz
          <svg
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4"
            ></path>
          </svg>
        </Button>
      </div>
    </div>
  </Section>

  <!-- Counter -->
  <Section>
    <h2>Licznik i ikona</h2>
    <div class="row flex items-center">
      <Counter value={23} />
      <Icon name="chevron-left" width={48} height={48} />
    </div>
  </Section>

  <!-- Image -->
  <Section>
    <h2>Obraz</h2>
    <MyImage img={glassImage} alt="" />
  </Section>

  <!-- Gallery -->
  <Section class="bg-slate-200">
    <h2>Galeria</h2>
    <Gallery
      id="gal1"
      images={[
        { data: glassImage, alt: "glass" },
        { data: laptopImage, alt: "laptop" },
        { data: stopImage, alt: "stop" },
      ]}
      zoom
    />
  </Section>

  <!-- Carousel (slider) -->
  <Section>
    <h2>Karuzela</h2>
    <Carousel
      id="car1"
      images={[
        { data: glassImage, alt: "glass" },
        { data: laptopImage, alt: "laptop" },
        { data: stopImage, alt: "stop" },
      ]}
      lightbox
    />
  </Section>

  <!-- Cards -->
  <Section class="bg-green-200">
    <h2>Karty</h2>
    <Row>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
      <div class="fade-in flex flex-col gap-4 rounded-box bg-slate-300 px-card-h py-card-v shadow">
        <h3 class="text-h5">{loremTitle}</h3>
        <p>{loremLeading}</p>
        <Button link="#">Sprawdź</Button>
      </div>
    </Row>
  </Section>

  <!-- Contact form -->
  <Section>
    <div class="flex max-w-screen-sm flex-col gap-5">
      <div class="flex flex-col items-center justify-center gap-2">
        <h2>Skontaktuj się</h2>
        <p class="text-lg">Zadaj pytanie lub rozpocznij współpracę.</p>
      </div>
      <ContactForm />
    </div></Section
  >
</PageLayout>
