---
import type { CollectionEntry } from "astro:content"

import { buildSlug } from "@utils/utils"

import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

export interface Props {
  post: CollectionEntry<"blog">
  class?: string
}

const { post, class: className } = Astro.props

const link = buildSlug(`/blog/${post.slug}/`)
---

<div
  class:list={[
    "relative flex flex-col overflow-hidden rounded opacity-75 shadow duration-300 ease-in-out hover:opacity-100",
    className,
  ]}>
  <a href={link} class="absolute left-0 top-0 size-full"></a>
  <MyImage
    src={post.data.image.src}
    alt={post.data.image.alt}
    width={500}
    height={500}
    rounded="rounded"
    class="h-60 rounded-b-none"
    loading="eager"
  />
  {
    post.data.knowledgeBase && (
      <div class="absolute -left-1/4 top-8 h-12 w-full -rotate-45 bg-accent p-4 text-center text-white">
        baza wiedzy
      </div>
    )
  }
  <div
    class="flex flex-grow flex-col justify-between gap-2 rounded-b border border-t-0 border-border_color p-6">
    <div class="flex flex-col items-start gap-2">
      <a href={link} class="duration-300 ease-in-out hover:text-accent">
        <h3 class="text-h5">{post.data.title}</h3>
      </a>
      <p class="line-clamp-3">{post.data.subheading}</p>
    </div>

    <div class="flex flex-row flex-wrap gap-2">
      {
        post.data.categories.map((category) => (
          <a
            class="block bg-accent-lightest px-2 hover:bg-accent-light"
            href={buildSlug("/blog/kategoria/" + category)}>
            #{category}
          </a>
        ))
      }
    </div>

    <Button link={link} variant="primary" size="sm" class="mt-4 self-start"
      >Przeczytaj</Button
    >
  </div>
</div>
