---
import type { CollectionEntry } from "astro:content"

import { buildSlug } from "@utils/utils"

import MyImage from "@components/ui/MyImage.astro"
import Button from "@components/ui/Button.astro"

export interface Props {
  post: CollectionEntry<"blog">
  class?: string
}

const { post, class: className } = Astro.props

const link = buildSlug(`/blog/${post.slug}/`)
---

<div
  class:list={[
    "flex flex-col rounded opacity-75 shadow duration-300 ease-in-out hover:opacity-100",
    className,
  ]}>
  <a href={link}>
    <MyImage
      src={post.data.image.src}
      alt={post.data.image.alt}
      class="h-60 rounded-b-none"
      loading="eager"
    />
  </a>
  <div
    class="flex flex-grow flex-col justify-between gap-2 rounded-b border border-t-0 border-border_color p-6">
    <div class="flex flex-col items-start gap-2">
      <a href={link} class="duration-300 ease-in-out hover:text-accent">
        <h2 class="text-h5">{post.data.title}</h2>
      </a>
      <p>{post.data.subheading}</p>
    </div>

    <Button link={link} variant="primary" size="sm" class="self-start"
      >Przeczytaj</Button
    >
  </div>
</div>
