---
import { GoogleAnalytics } from "@astrolib/analytics"

import data from "~/data/site.json"

import "@assets/styles/global.css"

import favIcon from "@assets/favicons/favicon.ico"
import favIconSvg from "@assets/favicons/favicon.svg"
import appleTouchIcon from "@assets/favicons/apple-touch-icon.png"

import Header from "@components/core/Header.astro"
import Footer from "@components/core/Footer.astro"

import ScrollToTop from "@components/widgets/ScrollToTop.astro"
import MySEO, { type Meta, type Schema } from "@components/core/MySEO.astro"
import StylebookLink from "@components/widgets/StylebookLink.astro"

export interface Props {
  meta: Meta
  schema?: Schema
}

const { meta, schema } = Astro.props

const SITE = data.site
---

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Sitemap -->
    <link rel="sitemap" href={"/sitemap-index.xml"} />

    <!-- Favicons -->
    <link rel="shortcut icon" href={favIcon} />
    <link rel="icon" type="image/svg+xml" href={favIconSvg.src} />
    <link rel="mask-icon" href={favIconSvg.src} color="#8D46E7" />
    <link rel="apple-touch-icon" sizes="180x180" href={appleTouchIcon.src} />

    <!-- Meta tags -->
    <MySEO meta={meta} schema={schema} />

    <!-- RSS feed -->
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SITE.meta["home-title"]}
      href={`${Astro.site}rss.xml`}
    />

    <!-- Cookiebot -->
    <script
      id="Cookiebot"
      src="https://consent.cookiebot.com/uc.js"
      data-cbid="91afb1e7-501e-48b5-be69-5d193a417fe2"
      data-blockingmode="auto"
      type="text/javascript">
    </script>

    <!-- Google Search Console -->
    {
      SITE.integrations["google-search-console"] && (
        <meta
          name="google-site-verification"
          content={SITE.integrations["google-search-console"]}
        />
      )
    }

    <!-- Analytics -->
    {
      SITE.integrations["google-analytics"] ? (
        <GoogleAnalytics
          id={SITE.integrations["google-analytics"]}
          partytown={true}
        />
      ) : null
    }

    <!-- Facebook Pixel, Hotjar ... -->

    <!-- Cookie banner  -->
  </head>
  <body>
    <div class="flex min-h-screen flex-col justify-between">
      <Header />

      <StylebookLink />

      <main class="mt-20">
        <slot />
      </main>

      <ScrollToTop />

      <Footer />

      <!-- Flowbite interative components -->
      <script
        is:inline
        src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js">
      </script>
    </div>
  </body>
</html>
