---
import type { ImageMetadata } from "astro"

import MyImage from "@components/ui/MyImage.astro"
import Gallery from "@components/ui/Gallery.astro"

type image = {
  data: ImageMetadata
  alt: string
}

export interface Props {
  id: string
  images: image[]
  lightbox?: boolean
  zoom?: boolean
  height?: string
  class?: string
}

const {
  id,
  images,
  lightbox = false,
  zoom = false,
  height = "h-80",
  class: className,
  ...attributes
} = Astro.props
---

<div class="relative w-full" data-carousel="slide" {...attributes}>
  {
    lightbox ? (
      <Gallery id={id} images={images} carousel zoom={zoom} height={height} />
    ) : (
      <div class="relative h-80 overflow-hidden rounded md:h-96">
        {images?.map((image) => (
          <div
            class="hidden rounded shadow duration-500 ease-in-out"
            data-carousel-item>
            <MyImage
              img={image.data}
              alt={image.alt}
              widths={[320, 500, 800]}
              sizes={`(max-width: 480px) 320px, (max-width: 768px) 500px, 800px`}
              class:list={["object-cover", height]}
            />
          </div>
        ))}
      </div>
    )
  }

  <!-- Slider indicators -->
  <div
    class="absolute bottom-6 left-1/2 z-30 flex -translate-x-1/2 space-x-4 rtl:space-x-reverse">
    {
      [...Array(images.length)].map((_, index) => (
        <button
          type="button"
          class="h-4 w-4 rounded-full bg-gray hover:bg-gray-dark"
          aria-current={index === 0}
          aria-label={`Slide ${index + 1}`}
          data-carousel-slide-to={index}
        />
      ))
    }
  </div>
  <!-- Slider controls -->
  <button
    type="button"
    class="group absolute start-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4"
    data-carousel-prev>
    <span
      class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-gray group-hover:bg-gray-dark group-hover:text-white">
      <svg
        class="h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 1 1 5l4 4">
        </path>
      </svg>
      <span class="sr-only">Poprzednie</span>
    </span>
  </button>
  <button
    type="button"
    class="group absolute end-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center px-4 focus:outline-none"
    data-carousel-next>
    <span
      class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-gray group-hover:bg-gray-dark group-hover:text-white">
      <svg
        class="h-4 w-4 rtl:rotate-180"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 6 10">
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 9 4-4-4-4">
        </path>
      </svg>
      <span class="sr-only">Następne</span>
    </span>
  </button>
</div>
